@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Eudoxus Sans", sans-serif;
  scroll-behavior: smooth;
}

.particles-image {
background-image: url("../public/bg-left.jpg");
background-size: cover;
width: full;
height: auto;
}

.bc-image {
background-image: url("../public/bg-center.jpg");
background-size: cover;
width: full;
height: auto;
}


@media screen and (max-width: 720px) {
  .bc-image {
    background-image: url("../public/blockchain-720px.jpg");
    width: auto; 
}
.particles-image {
width: full;
height: auto;
}
}